.checkout-items-container {
    width: 100%;
}

.labels-container {
    display: flex;
    border-bottom: 1px solid grey;
    height: 40px;
    padding: 0 10px;
    justify-content: space-between;
}

.checkout-label-remove {
    width: 10%;
}

.checkout-label {
    width: 20%;

}

