.group {
    position: relative;
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.label {
    position: absolute;
    font-size: 16px;
    left: 5px;
    color: grey;
    transition: ease all 300ms;
    pointer-events: none;
}


.form-input {
    width: 100%;
    padding: 0px 10px 0px 5px;
    border: none;
    border-bottom: 1px solid black;
    height: 48px;
    font-size: 16px;
}

.form-input:focus {
    outline: none;
}

.form-input:focus ~ .label {
    font-size: 12px;
    top: -12px;
    color: black;
}

.shrink {
    font-size: 12px;
    top: -12px;
}